@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #d5006a;
}

hr {
  margin: 1.5rem 0;
}

.toggle-menu button {
  margin-bottom: 2rem;
}
.toggle-menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

.toggle-favourite h2 {
  margin-bottom: 1rem;
}
.toggle-favourite .favourite-btn {
  font-size: 1.5rem;
  cursor: pointer;
}