// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url("//hello.myfonts.net/count/403ecc");
@font-face {
  font-family: "MinigapLight";
  src: url('./fonts/MinigapLight.woff2') format('woff2'), url('./fonts/MinigapLight.woff') format('woff');
  font-weight: light;
}

@font-face {
  font-family: "MinigapBold";
  src: url('./fonts/MinigapBold.woff2') format('woff2'), url('./fonts/MinigapBold.woff') format('woff');
  font-weight: bold;
}

@mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'MinigapLight';
  @include reset-spacing();
}

h1, h2, h3, h4 {
  font-family: 'MinigapBold';
}

h1,
h2,
p {
  @include reset-spacing();
}

h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(213, 0, 106);
}
